.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MainContainer {
  height: 100vh;
  width: 100vw;
  background-color: #CEA331;
  position: absolute;
}
.Main {
  position: fixed;
  height: 80%;
  top: 10%;
  border: 1px solid #AACE31;
  width: 80%;
  left : 20%;
 }
.Header {
  position: fixed;
  top: 0px;
  height: 10%;
  width: 100%;
  border: 1px solid #AACE31; 
}
.Footer {
  position: fixed;
  bottom: 0px;
  height: 10%;
  width: 100%;
  border : 1px solid #AACE31;
}
.LeftPanal {
  position: fixed;
  top: 10%;
  height: 80%;
  width: 20%;
  border: 1px solid pink;
  left: 0px;

}